* {
    font-family: "Mulish", sans-serif;
}

body {
    margin: 0 auto;
    width: 1440px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;


}

header {
    padding: 0 135px;
}

.section-title {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 10px;

}

.travel {
    color: #FF5400;
    font-size: 36px;
    font-weight: 800;
}

nav>ul {
    display: flex;
}

nav li {
    color: var(--Dark-02, #424247);
    font-size: 18px;
    font-weight: 400;
    list-style: none;
    margin-right: 30px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #424247;
}

.home {
    color: #FF5400;
}

.banner {
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    background-repeat: no-repeat;

}

.banner-title {
    padding-top: 106px;
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.info {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 800px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;

}

.go {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
}

.when {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
}

.type {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
}

.search {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    border: none;
}

.tour {
    display: flex;
    margin-top: 100px;
    padding: 0 135px;
    justify-content: space-between;
}

.tour-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.tour-container {
    width: 577px;
    gap: 24px;

}

.read {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
    color: #FFF;
    margin-top: 32px;
}

.tour-description {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.tour-description>ul {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
}

.destination {
    margin-top: 100px;
    text-align: center;
    padding: 0 135px;
}

.img-container {
    width: 1440px;
    margin-top: 50px;
}

.row {
    margin-bottom: 24px;
    display: flex;
    padding: 0 135px;
    gap: 24px;
    align-items: center;
}

.mid img {
    height: 286px;
}

.choose {
    padding: 0 135px;
    margin-top: 100px;
    text-align: center;
}

.card-1 {
    width: 574px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.card-2 {
    width: 574px;
    height: 284px;
    border-radius: 16px;
    background: rgba(41, 206, 246, 0.05);
    padding: 32px;
}

.card {
    padding: 32px;
    width: 574px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.card-content {
    margin-top: 100px;
    width: 1170px;
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 0 135px;
}

.card-cont {
    margin-top: 24px;
    display: flex;
    align-items: center;
    padding-left: 434px;
}

.card-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-des {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.blog {
    margin-top: 100px;
    text-align: center;
}

.blog-content {
    display: flex;
    width: 1170px;
    justify-content: space-between;
    padding: 0 135px;
    gap: 45px;
    border-radius: 16px;
}

.subscrib {
    width: 1170px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 135px;
    gap: 24px;
}

.news {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.letter {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-top: 40px;
    padding-left: 40px;
}

.tour-desc {
    padding-left: 40px;
}

.name {
    padding-left: 40px;
    width: 393px;
    height: 52px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);

}

.email {
    width: 393px;
    height: 52px;
    padding-left: 40px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
}

.submit {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    padding-left: 40px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
}

hr {
    width: 393px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
    margin: 24px;
}

.discount-badge {
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    text-align: center;
}

.discount-badge h2 {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
}

.discount-badge p {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

footer {
    width: 100%;
    height: 100%;
}

.footer-content {
    margin-top: 100px;
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    width: 1440px;
    height: 502px;
}

.footer-description {
    width: 769px;
    padding-top: 165px;
    padding-left: 335px;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 110px;
}

.footer-title div {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.footer-img {
    margin-top: 32px;
    gap: 24px;
}

.right {
    text-align: center;
    color: #131318;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

}


@media screen and (max-width: 600px) {
    header {
        padding: 20px;
    }

    body {
        width: 375px;
    }

    .banner-title {
        color: #FFF;
        font-size: 22px;
        font-weight: 800;
        padding-top: 50px;
    }

    .banner-description {
        font-size: 14px;
        margin: 0;
    }

    .info {
        gap: 5px;
        width: 335px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .tour {
        padding: 0;
        width: 335px;
        flex-direction: column;
        gap: 24px;
    }

    .tour-container {
        width: 335px;
    }

    .tour-title {
        font-size: 20px;
    }

    .tour-description {
        font-size: 14px;
    }

    .destination {
        margin-top: 24px;
        padding: 0;
    }

    .img-container {
        width: 375px;
    }

    .img-container img {
        width: 335px;
    }

    .row {
        flex-direction: column;
    }

    .card-1 {
        width: 335px;

    }

    .card-2 {
        width: 335px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-des {
        font-size: 14px;
    }

    .card-content {
        flex-direction: column;
        width: 375px;
        padding: 0;
    }

    .card-cont {
        flex-direction: column;
        padding: 0;
    }

    .card {
        width: 335px;
    }

    .blog-content {
        flex-direction: column;
        padding: 0 10px;
    }

    .blog-content2 img {
        width: 335px;
    }

    .choose {
        padding: 0 10px;
        margin-top: 24px;
    }

    .subscrib {
        width: 335px;
        padding: 0 10px;
        flex-direction: column;
        margin-top: 24px;
    }

    .letter {
        font-size: 20px;
    }

    .news {
        width: 335px;
        padding: 0;
    }

    .name {
        width: 288px;
    }

    .email {
        width: 288px;
    }

    hr {
        width: 288px;
    }

    .submit {
        width: 288px;
    }

    .blog-content {
        width: 335px;
    }

    .banner {
        width: 335px;
        height: 483px;
    }

    nav {
        flex-direction: column;
    }

    .footer-content {
        width: 375px;
        flex-direction: column;
        padding: 0;
        margin-top: 24px;
    }

    .footer-description {
        width: 335px;
        padding: 0;
    }

}